body{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
#quiz{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid #cccccc;
    padding: 8px;
}
th{
    font-weight: bold;
    text-transform: uppercase;
}
tr:nth-child(even){
    background-color: #dddddd;
}
#recap{ 
    display: flex;
    width: 100%;
}

.fade-animation {
    animation: fadeIn ease-out 5s;
}
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  

#affichage-question{
    max-width: 665px;
}
#affichage-reponse{
    max-width: 504px;
}

