body{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
#quiz{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid #cccccc;
    padding: 8px;
}
th{
    font-weight: bold;
    text-transform: uppercase;
}
tr:nth-child(even){
    background-color: #dddddd;
}
#recap{ 
    display: flex;
    width: 100%;
}


  

#affichage-question{
    max-width: 665px;
}
#affichage-reponse{
    max-width: 504px;
}

button{
    display: block;
    width: 150px;
    margin: 1em 0;
}

